{% extends "layout.html" %}
<!-- extends the layout file-->
{% block page_content %}
<!-- this page's content is declared as page_content and is included in the layout.html file -->
<div class="container">
  <h1>Birdie Shootout Player Registration</h1>
  <img src="../static/SW_Logo.png" alt="SW" class="logo" />
  <!-- {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %} -->
  <div class="form-group">
    <h3>Enter your name below</h3>
    <input type="text" value="" />
    <input type="submit" value="Submit" class="btn" />
    </form>
  </div>
  {% endblock %}